@model StudentNewsSite.Domain.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
    </tr>
 
 
</table>
